<%- include ("./partials/_header") %>
    <div class="subtitle3">
        Producto No Conforme</div>
    <!-- FORMULARIO-->

    <div class="flex">


        <div class="col-md-5">
            <div class="card">
                <div class="card-header">
                    <form action="/addAltaPnc" method="post">

                        <div class="form-group">
                            <select id="model" class="form-control" name="Operacion" onchange="location = this.value;">
                            <option value="<%= acabados[0].operacion %>"  selected > <%= acabados[0].operacion %> </option>
                            <% for (var i =0; i < oper.length; i++)  {     %>

                                <option value="/enviarvariable/<%=oper[i].nombre %>"  >  <%= oper[i].nombre %> </option>

                                <%  }  %>
                        </select >
                        </div>
                        <div class="flex4">
                            <div class="form-group">
                                <input class="form-control" type="text" name="folio" placeholder="Folio" style="width: fit-content;">
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="date" name="Fecha" placeholder="Fecha" style="width: fit-content; margin-left: 10%;">
                            </div>
                        </div>


                        <div class="form-group">
                            <input class="form-control" type="text" name="Orden" placeholder="Orden de Producción" style="width: fit-content;">
                        </div>

                        



                        <div class="form-group">
                            <select class="form-control" name="Modelo" placeholder="Modelo">
                            <option value="" disabled selected hidden>Modelo</option>
                            <% for (var i =0; i < mod.length; i++)  {     %>

                                <option value="<%= mod[i].nombre %>">  <%= mod[i].nombre %> </option>

                                <%  }  %>
                        </select>
                        </div>
                        <div class="flex5">

                            <label for="name"> Selecciona los Defectos:</label >
                        </div>
                        <div class="flex4">

                            <div class="form-group">
                                <select class="selectpicker" multiple data-live-search="true" class="form-control" name = "Defectos" >
                                    <% for (var i =0; i < acabados.length; i++)  {     %>

                                        <option >  <%= acabados[i].defecto %> </option>
        
                                        <%  }  %>
                           
                                </select>
                            </div>
                        </div>




                        <div class="form-group">
                            <input class="form-control" type="number" name="Cantidad" placeholder="Cantidad" style="width: fit-content;">
                        </div>




                        <div class="form-group">
                            <textarea class="form-control" name="Comentarios" cols="80" placeholder="Comentarios"></textarea>
                        </div>



                        <div class="form-group">
                            <select class="form-control" name="Retrabajo" placeholder="Retrabajable" style="width: fit-content;">
                            <option value="" disabled selected hidden>Retrabajable</option>
                            <option value="Si">Si</option>
                            <option value="No">No</option>
                        </select>
                        </div>


                       
                        <div class="flex4">
                            <button class="btn btn-primary" type="submit">
                                    Enviar
                                    
                            </button>

                            <a class="btn btn-primary" type="submit" href="/inicio" style="margin-left: 10%;">
                                Salir
                         </a>

                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>

    <script>
        function getModel() {
         
            var x = document.getElementById("model").value;
            for (var i = 0; i < defOp.length; i++) {
            if (defOp.nombre == x){
                alert(defOp.defecto);
            }
        }
                  

        }
    </script>

    <%- include ("./partials/_footer") %>