<%- include ("./partials/_header") %>
    <div class="subtitle3">
        Baja PNC</div>
    <!-- FORMULARIO-->

    <div class="flex">


        <div class="col-md-5">
            <div class="card">
                <div class="card-header">
                    <form action="/addBajaPnc/<%=altpnc2[0].folio %>" method="POST">
                        <div class="flex4">
                            <div class="form-group">
                                <select id="select-state" name="folio" style="width: 150px;" onchange="location = this.value;">
                                    <option value="<%= altpnc2[0].folio %>"   ><%= altpnc2[0].folio %></option>

                                    <% for (var i =0; i < altpnc.length; i++)  {     %>

                                        <option value="/enviarFolio/<%=altpnc[i].folio %>">  <%= altpnc[i].folio %> </option>
        
                                        <%  }  %>
                                  </select>

                            </div>




                            <div class="form-group">
                                <input class="form-control" type="text" name="Fecha" value="<%= altpnc2[0].Fecha %>" placeholder="<%= altpnc2[0].Fecha %>" style="width: 290px; margin-left: 10%;" readonly>
                            </div>

                        </div>

                        <div class="form-group">
                            <input class="form-control" type="text" name="Orden" value="<%= altpnc2[0].Orden %>" placeholder="<%= altpnc2[0].Orden %>" style="width: fit-content;  " readonly>
                        </div>

                        <div class="form-group">
                            <input class="form-control" type="text" value="<%= altpnc2[0].Operacion %>" name="ProcesoDefecto" placeholder="<%= altpnc2[0].Operacion %>" readonly>
                        </div>

                        <div class="form-group">
                            <input class="form-control" type="text" value="<%= altpnc2[0].Modelo %>" name="Modelo" placeholder="<%= altpnc2[0].Modelo %>" readonly>
                        </div>




                        <div class="flex5">

                            <label for="name"> Defectos seleccionados:</label >
                        </div>
                        <div class="flex4">

                           
                        <div class="form-group">
                            <textarea class="form-control" name="Defectos"  cols="80" readonly><%= altpnc2[0].Defectos %></textarea>
                        </div>
                        </div>


                        <div class="form-group">
                            <input class="form-control" type="text" name="Cantidad"  value="<%= altpnc2[0].Cantidad %>" placeholder="<%= altpnc2[0].Cantidad %>" style="width: fit-content; " readonly>
                        </div>




                        <div class="form-group">
                            <textarea class="form-control" name="Comentarios" cols="80"  placeholder="<%= altpnc2[0].Comentarios %>" readonly><%= altpnc2[0].Comentarios %></textarea>
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="text" name="Retrabajo" value="<%= altpnc2[0].Retrabajo %>" placeholder="<%= altpnc2[0].Retrabajo %>" style="width: fit-content; " readonly>
                        </div>
                        <hr class="my-4">

                           <div class="flex6">
                            <label for="name" > Fecha de Retrabajo:</label >

                            <div class="form-group">
                                <input class="form-control" type="date" name="FechaRetrabajo" placeholder="Fecha" style="width: fit-content;">
                            </div>
                        </div>

                        
                        <div class="form-group">
                            <input class="form-control" type="text" name="RetrabajadoPersona"  placeholder="Retrabajado Por" >
                        </div>

                    <div class="flex4">


                        <div class="form-group">
                            <select class="form-control" name="Retrabajable" placeholder="Retrabajable" style="width: fit-content;">
                            <option value="" disabled selected hidden>Tipo</option>
                            <option value="Costo de Retrabajo">Costo de Retrabajo</option>
                            <option value="Costo de Scrap">Costo de Scrap</option>
                        </select>
                        </div>

                     





                        <div class="form-group">
                            <input class="form-control" type="number" name="Costo" placeholder="Costo" style="width: fit-content; margin-left: 10%;">
                        </div>


                    </div>
                        <div class="form-group">
                            <textarea class="form-control" name="ComentariosRe" cols="80" placeholder="Comentarios"></textarea>
                        </div>
                        


                       
                       
                        <div class="flex4">
                            <button class="btn btn-primary" type="submit">
                                    Enviar 
                                 
                            </button>

                            <a class="btn btn-primary" type="submit" href="/inicio" style="margin-left: 10%;">
                                Salir
                         </a>

                        </div>

                    </form>
                 
                      
                </div>
            </div>
        </div>
    </div>
    </div>
<script>
    function myFunction() {
  document.getElementById("myDropdown").classList.toggle("show");
}

function filterFunction() {
  var input, filter, ul, li, a, i;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  div = document.getElementById("myDropdown");
  a = div.getElementsByTagName("a");
  for (i = 0; i < a.length; i++) {
    txtValue = a[i].textContent || a[i].innerText;
    if (txtValue.toUpperCase().indexOf(filter) > -1) {
      a[i].style.display = "";
    } else {
      a[i].style.display = "none";
    }
  }
}

$(document).ready(function () {
      $('select').selectize({
          sortField: 'text'
      });
  });
</script>
    <%- include ("./partials/_footer") %>