<%- include ("./partials/_header") %>

    <div class="card text-center">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                    <a class="nav-link disabled" href="/inspeccionProceso">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/escuadradora/">Escuadradora</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/enchapadora/">Enchapadora</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="/taladro/">Taladro</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="/sacabocados/">Sacabocados</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="/armado1/">Armado1</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="/armado2/">Armado2</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="/armado3/">Armado3</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="/acabados/">Acabados</a>
                </li>
            </ul>
        </div>
        <div class="card-body">

            <div class="flex">



                <form action="/addEscuadradora/<%= ins[ins.length-1].folio %>" method="post">

                    <div class="flex">


                        <div class="form-group">
                            <select class="form-control" name="modelo" placeholder="Modelo" style="width: 200px">
                            <option value="" disabled selected hidden>Modelo</option>
                            <% for (var i =0; i < mod.length; i++)  {     %>

                                <option value="<%= mod[i].nombre %>">  <%= mod[i].nombre %> </option>

                                <%  }  %>
                        </select>
                        </div>



                        <div class="form-group">
                            <select class="form-control" name="pieza" placeholder="Pieza" style="width: 200px">
                            <option value="" disabled selected hidden>Pieza</option>

                            <% for (var i =0; i < pieza.length; i++)  {     %>

                                <option value="<%= pieza[i].nombre %>">  <%= pieza[i].nombre %> </option>

                                <%  }  %>
                        </select>
                        </div>

                    </div>
                    <div class="flexx">


                        <div>

                            <label for="name"> Pieza 1:</label >

                            <div class="form-group">

                                <select class="form-control" name="ins1">
                                <option value="" disabled selected hidden>Inspección</option>
                                <option value="Aceptado">Aceptado</option>
                                <option value="Rechazado">Rechazado</option>
                            </select>
                            </div>

                            <div class="flex">

                                <label for="name"> Selecciona los Defectos:</label >
                            </div>
                            <div class="flex">
    
                                <div class="form-group">
                                    <select class="selectpicker" multiple data-live-search="true" class="form-control" name = "def1" >
                                        <% for (var i =0; i < defOp.length; i++)  {     %>

                                            <option value="<%=defOp[i].defecto%>">  <%= defOp[i].defecto %> </option>
            
                                            <%  }  %>
                                    </select>
                                </div>
                            </div>
                            </div>

                            
                            <div style="margin-left: 5%; margin-right: 5%;">

                                <label for="name"> Pieza 2:</label >

                            <div class="form-group">

                                <select class="form-control" name="ins2">
                                <option value="" disabled selected hidden>Inspección</option>
                                <option value="Aceptado">Aceptado</option>
                                <option value="Rechazado">Rechazado</option>
                            </select>
                            </div>

                            <div class="flex">

                                <label for="name"> Selecciona los Defectos:</label >
                            </div>
                            <div class="flex">
    
                                <div class="form-group">
                                    <select class="selectpicker" multiple data-live-search="true" class="form-control" name = "def2" >
                                        <% for (var i =0; i < defOp.length; i++)  {     %>

                                            <option value="<%=defOp[i].defecto%>">  <%= defOp[i].defecto %> </option>
            
                                            <%  }  %>
                                    </select>
                                </div>
                            </div>
                            </div>

                            
                            <div>

                                <label for="name"> Pieza 3:</label >

                            <div class="form-group">

                                <select class="form-control" name="ins3">
                                <option value="" disabled selected hidden>Inspección</option>
                                <option value="Aceptado">Aceptado</option>
                                <option value="Rechazado">Rechazado</option>
                            </select>
                            </div>

                            <div class="flex">

                                <label for="name"> Selecciona los Defectos:</label >
                            </div>
                            <div class="flex">
    
                                <div class="form-group">
                                    <select class="selectpicker" multiple data-live-search="true" class="form-control" name = "def3" >
                                        <% for (var i =0; i < defOp.length; i++)  {     %>

                                            <option value="<%=defOp[i].defecto%>"> <%= defOp[i].defecto %> </option>
            
                                            <%  }  %>
                                    </select>
                                </div>
                            </div>
                            </div>

                        </div>

                  <div>

                  
                        <a class="btn btn-primary" type="submit" style="margin-left: 10%;" onclick="this.parentNode.submit()">
                            Siguiente
                        </a>

                    
                        
                        
                    </form>

                    
                </div>
            </div>
        
          
        
            

        </div>
      
    </div>
    
    <div class="flex7" style="margin-top: 10px;margin-right: 18%;">
            <a href="/inicio/" class="btn btn-danger">Salir</a>
    </div>

    <!-- FORMULARIO-->


    <%- include ("./partials/_footer") %>